<!DOCTYPE html>
<html lang="en">
    {% include "components/header.html" %}
    <body>
        {% include "components/navbar-launch.html" %}

        <div class="translucent-bkgd">
            <div class="overlay">
                {% include "components/title-centre.html" %}
                <div id="div-form-login" class="column">
                    {% include "components/form-login.html" %}
                </div>
                {% include "components/new-user.html" %}
            </div>

            {% include "components/flash-msg.html" %}

        </div>
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    </body>
</html>