<!DOCTYPE html>
<html lang="en">
    {% include "components/header.html" %}
    <body>
        {% include "components/navbar.html" %}
        
        <div class="page-title">
            <div id="community-main-title" class="left-end">
                <h2>Community</h2>
            </div>
        </div>

        {% for movie in movies %}
            {% include "components/movie-card-community.html" %}
        {% endfor %}
        
        {% include "components/flash-msg.html" %}
        {% include "components/footer.html" %}
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    </body>
</html>