<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- Meta tags for search engines -->
        <meta name="description" content="My MDb, where you can track, review and share movies online.">
        <meta name="keywords" content="movie, review, films, hollywood, IMDb">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">
    <link rel="icon" type="image/png" href="assets/favicons/favicon-32x32.png">
    <title>Launch</title>
</head>
<body>
    {% include "components/background.html" %}

    {% include "components/button.html" %}

</body>
</html>