<div class="centre">
    <!--form action="#" method="post"-->
    <form action="#">
        <div>
            <div class="column">
                <label for="username">Username:</label>
                <input type="text" name="username" placeholder="Username"/>
            </div>
            <div class="column">
                <label for="password">Password:</label>
                <input type="password" name="password" placeholder="Password"/>
            </div>
            <div class="centre">
                <button type="submit" class="auth-btn" href="{{url_for('main')}}">Login</button>
            </div>
        </div>
    </form>
    {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
    {% endif %}
</div>