<div class="flex centre column" id="form-add-div">
    <form method="POST" action="{{ url_for('add_movie') }}" id="form-add">
        <div class="flex row form-add-row">
            {{ form.movie_name }}
        </div>
        <div class="flex row form-add-row" id="add-movie-review-row">
            {{ form.movie_review(class="textarea")}}
        </div>
        <div class="flex row form-add-row" id="add-date-row">
            {{ form.view_date(id="datefield", type='date', min='1960-01-01', max='2050-13-13', onclick="formatDateField(this)") }}
        </div>
        <div class="flex row form-add-row">
            {{ form.submit(class="register-btn")}}
        </div>
    </form>
</div>