<nav class = "row"> <!--class="nav-menu" -->
    <div class="nav-menu">
      <ul id="nav-links">
        <li id="logo-text">
          <a href="{{url_for('main')}}" aria-label="Go to homepage">My MDb</a>
        </li>
      </ul>
    </div>
    <div id="secondary-header" class="right-end">
      <li><a href="{{url_for('main')}}" aria-label="Go to My Movies" style="text-decoration: none">My Movies</a></li>
      <li><a href="#" aria-label="Go to Community page" style="text-decoration: none">Community</a></li>
      <li><a href="{{url_for('logout')}}" aria-label="Logout" style="text-decoration: none">Logout</a></li>
    </div>
</nav>