<nav class="nav-menu" id="top-navbar"></nav>
    <div class="nav-bar" id="header">
      <ul id="nav-links">
        <li id="logo-text">
          <a href="{{url_for('main')}}" aria-label="Go to homepage">My MDb</a>
          <div id="secondary-header">
            <a href="{{url_for('main')}}" aria-label="Go to My Movies">My Movies</a>
            <a href="#" aria-label="Go to Community page">Community</a>
            <a href="{{url_for('logout')}}" aria-label="Logout">Logout</a>
          </div>
        </li>
      </ul>
    </div>
</nav>