<!--Similar to movie-card.html except no interactive dialogues + edit/ delete functionality -->

<div class="row left-end">
    <div id="movie-card-community-column" class="column" >
         <figure>
            <img class="movie-card-poster-community" src="/static/img/joker-poster.jpg" alt="Movie Poster">
        </figure>
        <div id="main-movie-community-caption" class="column">
            <div class="movie-card-name"> 
                <p>{{ movie.movie_name }}</p>
            </div>
            <div class="movie-rating">
                <p>star placeholder</p>
            </div>
        </div>
    </div>
</div>