<div class="row left-end">
    <div id="movie-card-column" class="column" >
        <!-- TODO: remove placeholders -->
         <figure>
            <img class="movie-card-poster" src="/static/img/joker-poster.jpg" alt="Movie Poster">
        </figure>
        <div id="main-movie-caption" class="column">
            <div class="movie-card-name"> 
                <p>{{ movie.movie_name }}</p>
            </div>
            <div class="movie-rating">
                <p>star placeholder</p>
            </div>
        </div>
    </div>
    {% include "components/movie-dialog.html" %}
    {% include "components/warning-delete-dialog.html" %}
</div>