<div class="row left-end desktop-row"> <!--card-container"-->
    <div id="movie-card-column" class="column" >
         <figure>
            <img class="movie-card-poster" src="/static/img/joker-poster.jpg" alt="Movie Poster" data-movie-name="{{ movie.movie_name}}" data-movie-date="{{ movie.view_date}}" data-movie-review="{{ movie.movie_review}}" onclick="getMovieDataforDialog(this)">
        </figure>
        <div id="main-movie-caption" class="column">
            <div class="movie-card-name"> 
                <p>{{ movie.movie_name }}</p>
            </div>
        </div>
    </div>
    {#{% include "components/movie-dialog.html" %}#}

    {#{% include "components/warning-delete-dialog.html" %}#}
</div>