<nav class = "row"> 
    <div class="nav-menu">
      <ul id="nav-links">
        <li id="logo-text">
          <a href="{{url_for('my_movies')}}" aria-label="Go to homepage">My MDb</a>
        </li>
      </ul>
    </div>
    <div id="secondary-header" class="right-end">
      <li><a href="{{url_for('my_movies')}}" id="nav-main-link" aria-label="Go to My Movies" style="text-decoration: none">My Movies</a></li>
      <li><a href="{{url_for('community')}}" id="nav-community-link" aria-label="Go to Community page" style="text-decoration: none">Community</a></li>
      <li><a href="{{url_for('logout')}}" id="nav-logout-link" aria-label="Logout" style="text-decoration: none">Logout</a></li>
    </div>
</nav>