<!-- Dialog to warn user before deleting entry (that already exists in database)  -->
<dialog id="warningDeleteDialog-{{ movie.id }}" class="warning-delete-dialog">
    <div class="flex row" id="warning-delete-message">
        <p>Are you sure you want to delete your movie entry?<br>This action cannot be undone.</p>
    </div>

    <div class="flex row" id="dialog-warning-btn-row">
        {% include "components/button-delete-final.html" %}
        {% include "components/button-close-delete-dialog.html" %}
    </div> 

</dialog>