@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Rubik:wght@300..900&family=Titillium+Web&display=swap');

:root {
    --offwhite: #faf9f6;
    --applegreen: #eff1be;
    --heathergray: #b1bcca;
    --supernova: #f1c800;
    --tundora: #424242;
    --mirage: #1d2134;
    --jetblack: #1d1b1b;
}


/* Universal */
* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-image: url("/assets/img/gradient-background.jpg");
}

/* background.html */
#logo-text {
    font-size: 4rem;
    color: var(--supernova);
}

.auth-btn{
    padding: 1rem 4rem 1rem 4rem;
}