<div class="centre">
    <form action="#" method="post">
        <div>
            <div class="column">
                <label for="username">Username:</label>
                <input type="text" name="username" placeholder="Username"/>
            </div>
            <div class="column">
                <label for="password">Password:</label>
                <input type="password" name="password" placeholder="Password"/>
            </div>
            <div class="centre">
                <button type="submit" class="auth-btn">Login</button>
            </div>
        </div>
    </form>
</div>