@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Rubik:wght@300..900&family=Titillium+Web&display=swap');

:root {
    --offwhite: #faf9f6;
    --applegreen: #eff1be;
    --heathergray: #b1bcca;
    --supernova: #f1c800;
    --tundora: #424242;
    --mirage: #1d2134;
    --jetblack: #1d1b1b;
    --font-roboto: "Roboto Condensed", sans-serif;
    --font-rubik: "Rubik", sans-serif;
    --font-web: "Titillium Web", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    font-size: 62.5%;
    max-width: 100%;
    min-height: 100vh;
    background: rgb(13,46,81);
    background: linear-gradient(180deg, rgba(13,46,81,1) 0%, rgba(49,101,138,1) 50%);
    background-repeat: no-repeat;
}

body {
    font-size: 1.6rem;
    max-width: 100%;
}

.overlay {
    position: relative;
    z-index: 1000;
}

.centre {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.left-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.right-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
}

/* Components */
.nav-menu {
    display: flex;
    flex-direction: row;
    position: relative;
    left: auto;
    display: block;
    width: 100%;
}

.nav-menu, #secondary-header {
    top: 1.5rem;
    height: 2.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

.nav-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: start;
    list-style: none;
    height: auto;
    width: 100%;
}

a, a:visited {
    list-style: none;
    text-decoration: none;
    color: inherit;
    text-decoration: inherit;
}

#logo-text a{
    font-size: 2rem;
    font-family: var(--font-roboto);
    font-weight: 700px;
    color: var(--offwhite);
    letter-spacing: -5%;
    padding-left: 2rem;
}

#secondary-header {
    font-family: var(--font-web);
    color: var(--offwhite);
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    margin-right: 1rem;
    margin-top: 1.5rem;
    text-wrap: nowrap;
}

#secondary-header li {
    padding-right: 1.5rem;
}

#secondary-header a:hover {
    color: var(--supernova);
}

/*TODO: to be added in js for active pages */
.nav-is-active {
    opacity: 80%;
}

/* Launch Page */

.page-title {
    font-family: var(--font-rubik);
    transition: 0.30s ease-in-out;
    font-size: 3rem;
    font-weight: 400;
    padding-bottom: 1rem;
    padding-left: 1rem;
    color: var(--applegreen);
}

.page-title h3 {
    font-weight: 200;
    color: var(--heathergray);
    letter-spacing: -0.1rem;
    font-size: 2rem;
}

#launch-title-column {
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 3rem 2rem 3rem 2rem;
    letter-spacing: .5rem;
}

#launch-title-02-row, #launch-title-03-row {
    display: flex;
    flex-direction: row;
    padding-left: 20%;
}

#launch-title-03-row {
    padding-left: 50%;
    padding-bottom: 1rem;
}

#launch-subheading-row, #launch-auth-btn-row, #div-launch-poster {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#new-user-row, #sign-up-link, .auth-btn{
    font-family: var(--font-web);
    color: var(--jetblack);
    font-size: 1.6rem;
}

#sign-up-link {
    text-decoration: underline;
}

#new-user-link-row a:hover {
    opacity: 30%;
}

.auth-btn{
    padding: .5rem 5rem .5rem 5rem;
    border-radius: 1.5rem 1.5rem;
    font-weight: 600;
    letter-spacing: -10%;
    background-color: var(--supernova);
}

#add-btn {
    background-color: var(--heathergray);
    padding: .1rem 3rem .1rem 3rem;
    border-radius: 1rem 1rem;
    font-weight: 400;
}

#edit-btn, #delete-btn {
    border-radius: 1rem 1rem;
    font-weight: 400;
}

#edit-btn {
    background-color: var(--supernova);
    color: var(--jetblack);
    padding: .1rem 2rem .1rem 2rem;
}

#delete-btn {
    background-color: var(--jetblack);
    color: var(--offwhite);
    padding: .1rem 1rem .1rem 1rem;
}

#launch-movie-poster {
    resize: inherit;
    max-width: 50%;
    padding-block-start: 10%;
    overflow: hidden;
}

/* auth */
/* TODO - fix so it goes behind text 
.translucent-bkgd{
    margin-top: 2rem;
    background: var(--offwhite);
    opacity: 40%;
    position: relative;
    z-index: 1;
} */


form {
    font-family: var(--font-web);
    font-size: 1.6rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

form .column {
    padding-bottom: .4rem;
}

form input {
    padding: .5rem 2rem .5rem 2rem;
    margin-bottom: 2rem;
}

form .auth-btn {
    padding-left: 7rem;
    padding-right: 7rem;
}

#new-user-text-row {
    padding-right: 2rem;
}

#form-register-div form input{
    padding: .5rem .1rem .5rem .1rem;
}

#error-msg-row {
    font-family: var(--font-web);
    font-size: 1.6rem;
    color: var(--supernova);
    padding-top: 3rem;
}

/* Main Page */
#main-title {
    padding-top: 4rem;
    padding-left: 0.5rem;
}

#movie-card-column, #div-add-btn {
    padding-left: 1.5rem;
}

#movie-card-column figure img {
    width: 40%;
    height: 70%;
	opacity: 1;
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
    padding: 3rem 0 0 0;
}

#movie-card-column figure:hover img {
	opacity: .6;
}

#main-movie-caption {
    margin-top: -4rem;
}

.movie-card-name {
    font-style: var(--font-web);
    font-size: 2rem;
    color: var(--offwhite);
    opacity: 60%;
}

.movie-rating p {
    padding-top: 0.5rem;
}

dialog {
    background-color: var(--applegreen);
    border-color: var(--applegreen);
    border-radius: 1rem 1rem;
    height: 70%;
    width: 70%;
    margin-top: 25%;
    margin-left: 15%;
}

#movie-api-description{
    padding-left: -50%;
}

#dialog-movie-name {
    flex-wrap: none;
    width: auto;
}

dialog p {
    font-family: var(--font-web);
}

#dialog-btn-row {
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-top: 1rem;
}

#close-dialog-btn-div {
    padding-left: 4rem;
}

#close-dialog-btn-div button {
    background-color: transparent;
    border: none;
    outline:none;
    box-shadow: none;
}

#movie-api-info {
    justify-content: center;
    padding: 3rem 4rem 2rem 1rem;
}

#movie-api-info img{
    width: 60%;
    height: auto;
}

#movie-user-info {
    padding-left: 1rem;
    padding-right: 1rem;
}
