@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Rubik:wght@300..900&family=Titillium+Web&display=swap');

:root {
    --offwhite: #faf9f6;
    --applegreen: #eff1be;
    --heathergray: #b1bcca;
    --supernova: #f1c800;
    --tundora: #424242;
    --mirage: #1d2134;
    --jetblack: #1d1b1b;
    --font-roboto: "Roboto Condensed", sans-serif;
    --font-rubik: "Rubik", sans-serif;
    --font-web: "Titillium Web", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    font-size: 62.5%;
    max-width: 100%;
    min-height: 100vh;
    background: rgb(13,46,81);
    background: linear-gradient(180deg, rgba(13,46,81,1) 0%, rgba(49,101,138,1) 50%);
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    font-size: 1.6rem;
    max-width: 100%;
    padding-left: 0.5rem;
    padding-bottom: 2rem;
}

#footer-row {
    flex-direction: row;
    justify-content: center;
    font-family: var(--font-rubik);
    font-size: 1.2rem;
    position:absolute;
    bottom:0;
    width:100%;
    height:3rem;
    padding-bottom: 1rem;
}

.hidden {
    display: none !important;
}


.overlay {
    position: relative;
    z-index: 1000;
}

.centre {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.left-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.right-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
}

/* Components */
.nav-menu {
    display: flex;
    flex-direction: row;
    position: relative;
    left: auto;
    display: block;
    width: 100%;
}

.nav-menu, #secondary-header {
    top: 1.5rem;
    height: 2.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

.nav-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: start;
    list-style: none;
    height: auto;
    width: 100%;
}

a, a:visited {
    list-style: none;
    text-decoration: none;
    color: inherit;
    text-decoration: inherit;
}

#logo-text a{
    font-size: 2rem;
    font-family: var(--font-roboto);
    font-weight: 700px;
    color: var(--offwhite);
    letter-spacing: -5%;
    padding-left: 1rem;
    opacity: 100%;
}

#secondary-header {
    font-family: var(--font-web);
    color: var(--offwhite);
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    margin-top: 1.5rem;
    margin-right: .5rem;
    text-wrap: nowrap;
}

#secondary-header li {
    padding-right: .5rem;
}

#secondary-header a:hover {
    color: var(--supernova);
}

.nav-is-active {
    opacity: 80%;
    color: var(--supernova);
}

/* Launch Page */
.page-title {
    font-family: var(--font-rubik);
    transition: 0.30s ease-in-out;
    font-size: 3rem;
    font-weight: 400;
    padding: 4rem 0rem 1rem 1rem;
    color: var(--applegreen);
}

.page-title h3 {
    font-weight: 200;
    color: var(--heathergray);
    letter-spacing: -0.1rem;
    font-size: 2rem;
}

#launch-title-column {
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 3rem 2rem 3rem 2rem;
    letter-spacing: .5rem;
}

#launch-title-02-row, #launch-title-03-row {
    display: flex;
    flex-direction: row;
    padding-left: 20%;
}

#launch-title-03-row {
    padding-left: 50%;
    padding-bottom: 1rem;
}

#launch-subheading-row, #launch-auth-btn-row, #div-launch-poster {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#new-user-row, #sign-up-link, .auth-btn{
    font-family: var(--font-web);
    color: var(--jetblack);
    font-size: 1.6rem;
}

#sign-up-link {
    text-decoration: underline;
}

#new-user-link-row a:hover {
    opacity: 30%;
}

/* Buttons */
.auth-btn{
    padding: .5rem 5rem .5rem 5rem;
    border-radius: 1.5rem 1.5rem;
    font-weight: 600;
    letter-spacing: -10%;
    background-color: var(--supernova);
}

#add-btn {
    background-color: var(--heathergray);
    padding: .1rem 3rem .1rem 3rem;
    border-radius: 1rem 1rem;
    font-weight: 400;
}

#edit-btn, #delete-btn, #cancel-btn, #cancel-final-btn, #close-cancel-warning-dialog-btn, #delete-final-btn, #close-delete-warning-dialog-btn{
    border-radius: 1rem 1rem;
    font-weight: 400;
}

#edit-btn, #cancel-final-btn, #delete-final-btn {
    background-color: var(--supernova);
    color: var(--jetblack);
    padding: .1rem 2rem .1rem 2rem;
}

#delete-btn, #cancel-btn, #close-cancel-warning-dialog-btn, #close-delete-warning-dialog-btn {
    background-color: var(--jetblack);
    color: var(--offwhite);
    padding: .1rem 1rem .1rem 1rem;
}

#launch-movie-poster {
    resize: inherit;
    max-width: 50%;
    padding-block-start: 10%;
    overflow: hidden;
}

/* Forms */
form {
    font-family: var(--font-web);
    font-size: 1.6rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

form .column {
    padding-bottom: .4rem;
}

form input {
    padding: 1rem 3rem 1rem 3rem;
    margin-bottom: 2rem;
}

form textarea {
    padding: 1rem 3.5rem 1rem 4rem;
}

form .auth-btn {
    padding-left: 7rem;
    padding-right: 7rem;
}

#form-add-div, #form-edit-div {
    padding-top: 2rem;
}

#form-edit-movie-name p {
    color: var(--heathergray);
}

#new-user-text-row {
    padding-right: 2rem;
}

#div-form-login, #form-register-div {
    justify-content: center;
}

.login-btn, .register-btn {
    padding: .5rem 5rem .5rem 5rem;
    border-radius: 1.5rem 1.5rem;
    font-weight: 600;
    letter-spacing: -10%;
    background-color: var(--supernova);
}

#login-btn-row, #register-btn-row {
    flex-direction: row;
    justify-content: center;
}

h4 { 
    font-family: var(--font-web);
    font-size: 1.6rem;
    color: var(--supernova);
    padding-left: 1rem;
}

#error-msg-row {
    padding-top: 3rem;
}

#error-main-msg-row {
    margin-top: -15%;
}

/* My Movies Page */
#movie-card-column, #movie-card-community-column, #div-add-btn {
    padding-left: 1.5rem;
}

#movie-card-column figure img, #movie-card-community-column figure img {
    width: 40%;
    height: 70%;
	opacity: 1;
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
    padding: 3rem 0 3rem 0;
}

#movie-card-column figure:hover img {
	opacity: .6;
}

#main-movie-caption {
    margin-top: -4rem;
}

.movie-card-name {
    font-style: var(--font-web);
    color: var(--offwhite);
    opacity: 60%;
}

dialog {
    background-color: var(--applegreen);
    border-color: var(--applegreen);
    border-radius: 1rem 1rem;
    height: 70%;
    width: 70%;
    margin-top: 25%;
    margin-left: 15%;
}

#warning-cancel-dialog, #warning-delete-dialog {
    height: 80%;
    width: 75%;
    margin-left: 10%;
}

#warning-cancel-message p, #warning-delete-message p{
    font-size: 1.6rem;
}

#movie-api-description{
    padding-left: -50%;
}

#dialog-movie-name {
    flex-wrap: none;
    width: auto;
}

dialog p {
    font-family: var(--font-web);
}

#dialog-btn-row, #dialog-warning-btn-row {
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-top: 1rem;
}

#close-dialog-btn-div {
    padding-left: 4rem;
}

#close-dialog-btn-div button {
    background-color: transparent;
    border: none;
    outline:none;
    box-shadow: none;
}

#movie-api-info {
    justify-content: center;
    padding: 3rem 4rem 2rem 1rem;
}

#movie-api-info img{
    width: 60%;
    height: auto;
}

#movie-user-info, #warning-cancel-message, #div-cancel-btn, #form-add-div, #form-edit-div {
    padding-left: 1rem;
    padding-right: 1rem;
}

#warning-cancel-message, .form-add-row {
    padding-top: 1rem;
}

#add-date-row {
    padding-top: 3rem;
}

/* Media Query */
/* Default design - Mobile - 375 x 667 px */

/* Media Query 01 - Tablet - 768 x 959 px */
@media (min-width: 768px) {
    body {
        padding-left: 2rem;
        padding-bottom: 4rem;
    }

    #logo-text a{
        font-size: 5rem;
    }

    /*Media Query 01 - Tablet - Launch */
    #launch-title-column {
        padding-top: 15%;
    }

    #launch-subheading-row h3 {
        font-size: 4rem;
    }

    #launch-subheading-row {
        padding-top: 2rem;
    }

    #launch-auth-btn-row {
        padding-top: 3rem;
    }

    /*Media Query 01 - Tablet - Login*/
    .page-title {
        font-size: 6rem;
        padding: 10rem 0rem 1rem 1rem;
    }

    #secondary-header, #new-user-row, #sign-up-link, .auth-btn, .field-username, .field-password, #movie-card-column p, #main-movie-community-caption {
        font-size: 3rem;
    }

    #secondary-header li {
        padding-right: 3rem;
    }

    form {
        font-size: 5rem;
        padding-top: 6rem;
        padding-bottom: 8rem;
    }

    .login-btn, .register-btn {
        padding: 1rem 7rem 1rem 7rem;
        letter-spacing: -10%;
        font-size: 2.5rem;
    }

    /*Media Query 01 - Tablet - My Movies*/
    #div-add-btn {
        padding-top: 2rem;
        padding-bottom: 3rem;
    }

    #main-movie-caption, #main-movie-community-caption {
        padding-left: .5rem;
        padding-bottom: 2rem;
        margin-top: -10rem;
    }

    #community-main-title {
        padding-bottom: 10%;
    }

    #error-main-msg-row {
        margin-top: -10%;
    }

    #warning-cancel-dialog, #warning-delete-dialog {
        height: 70%;
    }

    dialog p, #dialog-movie-name, #dialog-movie-date, #dialog-movie-review, #close-dialog-btn-div button, h4, #warning-cancel-message p, #warning-delete-message p{
        font-size: 3rem;
    }

    /* Media Query 01 - Tablet - Add Movie Form */
    form input {
        padding: 2rem 4rem 2rem 4rem;
        font-size: 2.5rem;
    }

    form textarea {
        padding: 2rem 7rem 2rem 4rem;
        font-size: 2.5rem;
    }

    /*Footer*/
    #footer-row {
        font-size: 2rem;
        padding-bottom: 4rem;
    }
}

/* Media Query 02 - Laptop - 1920 x 1080 px */
@media (min-width: 1920px) {
    html {
        min-height: 100% !important;
        height: 100% !important;
        background-size: cover !important;
        background-repeat: no-repeat;
    }

    body {
        padding: 10rem, 10rem, 10rem, 10rem;
    }

    #logo-text a{
        font-size: 7rem;
    }

    #header {
        padding-top: 2%;
    }

    #header,  #launch-title-column {
        padding-left: 3%;
    }

    /*Media Query 02 (Laptop) - Launch */
    #launch-title-column {
        padding-top: 12%;
        font-size: 8rem;
    }

    #launch-subheading-row h3 {
        font-size: 6rem;
    }

    #launch-subheading-row, #launch-auth-btn-row {
        justify-content: center;
        max-width: 50%;
        padding-top: 3rem;
    }

    #launch-title-02-row {
        margin-left: -7%;
        padding-top: 1%;
    }

    #launch-title-03-row {
        margin-left: -20%;
        padding-top: 2%;
    }

    .page-title {
        font-size: 5rem;
        padding: 10rem 0rem 1rem 1rem;
    }

    #secondary-header, #new-user-row, #sign-up-link, .auth-btn, .field-username, .field-password, #movie-card-column p, #main-movie-community-caption, #movie-card-dialog, h4, #warning-cancel-message p, #warning-delete-message p {
        font-size: 5rem;
    }

    .desktop-column {
        flex-direction: column;
    }

    .desktop-row {
        flex-direction: row;
    }

    #launch-desktop-row {
        flex-direction: row;
        flex-wrap: nowrap;
        max-width: 100%;
    }

    #launch-login-btn {
        padding-left: 15%;
        padding-right: 15%;
    }

    #new-user-row {
        margin-top: -2%;
    }

    /*Media Query 02 (Laptop) - Login*/
    .page-title {
        font-size: 11rem;
        padding-top: 5%;
    }

    #secondary-header, #new-user-row, #sign-up-link, .auth-btn, #error-msg-row,.field-username, .field-password, #movie-card-column p, #main-movie-community-caption   {
        font-size: 5rem;
    }

    form {
        font-size: 5rem;
        padding-top: 6rem;
        padding-bottom: 8rem;
    }

    .login-btn, .register-btn {
        padding: 2rem 15rem 2rem 15rem;
        letter-spacing: -10%;
        font-size: 4rem;
    }

    /*Media Query 02 (Laptop) - My Movie*/
    #secondary-header li {
        padding-right: 10rem;
    }

    #movie-card-column figure img, #movie-card-community-column figure img {
        width: 35%;
    }

    #main-movie-caption, #main-movie-community-caption {
        padding-left: .5rem;
        padding-bottom: 2rem;
        margin-top: -13rem;
    }

    dialog {
        height: 80%;
        width: 90%;
        margin-top: 7%;
        margin-left: 5%;
    }

    #dialog-btn-row {
        justify-content: flex-end;
        padding-top: 5rem;
        padding-right: 5rem;
    }

    #dialog-warning-btn-row {
        justify-content: center;
        padding-top: 10rem;
        padding-right: 10rem;
    }

    #dialog-btn-row a, #dialog-btn-row button, #dialog-warning-btn-row a, #dialog-warning-btn-row button {
        margin-left: 15rem;
    }

    #movie-api-info img {
        width: 35%;
        height: auto;
    }

    #movie-user-info {
        padding-left: 25rem;
    }

    #edit-btn, #delete-btn, #cancel-btn, #cancel-final-btn, #close-cancel-warning-dialog-btn, #delete-final-btn, #close-delete-warning-dialog-btn {
        padding: .2rem 7rem .2rem 7rem;
    }   

    #warning-cancel-dialog p, #warning-delete-dialog p {
        padding: 5rem;
    }

    /*Media Query 02 (Laptop) - Community*/
    #movie-card-community-column {
        margin-top: -10rem;
        padding-bottom: 20rem;
    }

    /*Media Query 02 (Laptop) - Add Movie Form */
    form input, form textarea {
        font-size: 3.5rem;
    }

    form input {
        padding: 2rem 10rem 2rem 10rem;
    }

    form textarea {
        padding: 2rem 14rem 2rem 10rem;
    }

    #error-msg-row {
        padding-top: 3rem;
    }
    
    #error-main-msg-row {
        margin-top: -3%;
    }

    #warning-cancel-dialog, #warning-delete-dialog {
        height: 75%;
        width: 85%;
        margin-left: 5%;
    }

    dialog p, #dialog-movie-name, #dialog-movie-date, #dialog-movie-review, #close-dialog-btn-div button, h4, #warning-cancel-message p, #warning-delete-message p {
        font-size: 5rem;
    }

    /*Footer*/
    #footer-row {
        font-size: 3rem;
        padding-bottom: 5rem;
    }
}

/* Media Query 03 - Desktop - 2560 x 1440 px */
@media (min-width: 2560px) {
    body {
        padding: 7rem 7rem 7rem 7rem;
    }

    #logo-text a{
        font-size: 11rem;
    }

    #header {
        padding-top: 2%;
    }

    #header,  #launch-title-column {
        padding-left: 3%;
    }

    #nav-main-link, #nav-community-link {
        padding-right: 15rem;
    }

    /*Media Query 03 - Desktop - Launch */
    #launch-title-column {
        padding-top: 10%;
        font-size: 10rem;
    }

    #launch-subheading-row h3 {
        font-size: 8rem;
    }

    #launch-subheading-row, #launch-auth-btn-row {
        justify-content: center;
        max-width: 50%;
        padding-top: 3rem;
    }

    #launch-title-01-row {
        padding-left: 3rem;
    }

    #launch-title-02-row {
        margin-left: -5%;
        padding-top: 1%;
    }

    #launch-title-03-row {
        margin-left: -15%;
        padding-top: 2%;
    }

    .page-title {
        font-size: 13rem;
        padding: 10rem 0rem 1rem 1rem;
    }

    #new-user-row, #sign-up-link, .auth-btn, #error-msg-row,.field-username, .field-password, #movie-card-column p, #main-movie-community-caption   {
        font-size: 7rem;
    }

    #secondary-header {
        font-size: 8rem;
    }

    .desktop-column {
        flex-direction: column;
    }

    .desktop-row {
        flex-direction: row;
    }

    #launch-desktop-row {
        flex-direction: row;
        flex-wrap: nowrap;
        max-width: 100%;
    }

    #launch-login-btn {
        padding-left: 15%;
        padding-right: 15%;
    }

    /*Media Query 03 - Desktop - Login*/
    .page-title {
        font-size: 11rem;
        padding-top: 6.5%;
    }

    #secondary-header, #new-user-row, #sign-up-link, .auth-btn, #error-msg-row,.field-username, .field-password, #movie-card-column p, #main-movie-community-caption   {
        font-size: 7rem;
    }

    form {
        font-size: 5rem;
        padding-top: 6rem;
        padding-bottom: 8rem;
    }

    .login-btn, .register-btn {
        padding: 2.5rem 20rem 2.5rem 20rem;
        font-size: 6rem;
    }

    /*Media Query 03 - Desktop - My Movie*/
    #secondary-header li {
        padding-right: 3rem;
    }

    #movie-card-column figure img, #movie-card-community-column figure img {
        width: 50%;
    }

    #main-movie-caption, #main-movie-community-caption {
        padding-left: .5rem;
        padding-bottom: 5rem;
        margin-top: -17rem;
    }

    #dialog-btn-row {
        justify-content: flex-end;
        padding-top: 5rem;
        padding-right: 5rem;
    }

    #dialog-warning-btn-row {
        justify-content: space-around;
    }

    #warning-cancel-message {
        justify-content: center;
    }

    #dialog-btn-row a, #dialog-btn-row button, #dialog-warning-btn-row a, #dialog-warning-btn-row button {
        margin-left: 15rem;
    }

    dialog p, #dialog-movie-name, #dialog-movie-date, #dialog-movie-review, #close-dialog-btn-div button, h4, #warning-cancel-message p, #warning-delete-message p {
        font-size: 6rem;
    }

    #warning-cancel-dialog p, #warning-delete-dialog p {
        padding: 10rem 2rem 5rem 2rem;
    }

    /*Media Query 03 - Desktop - Community*/
    #movie-card-community-column {
        margin-top: -10rem;
        padding-bottom: 20rem;
    }

    /*Media Query 03 - Desktop - Add Movie Form */
    form input, form textarea {
        font-size: 5rem;
    }

    form input {
        padding: 2.5rem 12rem 2.5rem 12.5rem;
    }

    form textarea {
        padding: 2.5rem 16.5rem 2.5rem 12.5rem;
    }

    #delete-btn, #edit-btn, #cancel-btn, #close-cancel-warning-dialog-btn, #close-delete-warning-dialog-btn {
        padding: .5rem 4rem .5rem 4rem;
    }

    /*Footer*/
    #footer-row {
        font-size: 4rem;
        padding-bottom: 8rem;
    }
}